{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="background: #ECA1A6">
<main role="main">
<b>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background: #ECA1A6">
    <div class="container">
      <h1 class="display-3">MShop!!</h1>
      <p> MShop is a medical shop in Bihar.
      Founded by Neha Jaiswal, the shop initially focused on Medicine sales.
      It is a whole sale shop which is located in the city with long time.
      </p>
    </div>
  </div>

  <div class="container-fluid mx-4 px-0">
    <!-- Example row of columns  banner-wrap bg-primary -->
    <div class="row">
      <div class="col-md-4 my-3"  style="background: #B5E7A0">
        <h2>Free Delivery</h2>
        <p>On orders above Rs.500</p>

      </div>
      <div class="col-md-4 my-3"  style="background: #B2B2B2">
        <h2>Easy Return</h2>
        <p>Easy Return & Refund</p>
      </div>

      <div class="col-md-4 my-3"  style="background: #b1cbbb">
        <h2>Cash on Delivery</h2>
        <p>Get First Pay Later</p>
      </div>
    </div>

  </div> <!-- /container -->

</main>
<br><br><br><br><br>
</b>
</div>

{% endblock %}