<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title%} {% endblock %}</title>

  </head>
  <body>
<div class="container-fluid my-6  px-0"  style="background: #A9A9A9">
<footer class="site-footer">
<b>
<div class="row">
<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
<div class="block-7 my-5">
<h3 class="footer-heading mb-4">MShop</h3>
<p>MShop is one of the fastest growing Medicine dealer in Bihar.</p>
</div>
</div>
<div class="col-lg-3 mx-auto mb-5 mb-lg-0">
<h3 class="footer-heading mb-4 my-3">About Us</h3>
<ul class="list-unstyled">
<li><a href="/about">About</a></li>

<h3 class="footer-heading mb-4 my-3"></h3>
<ul class="list-unstyled">
<li>Your Account</li>
<li>Terms & Condition</li>
<li>Shipping Rates</li>
<li>Help</li>
</ul>
</div>

<div class="col-md-6 col-lg-3">
<div class="block-5 mb-5 my-5">
<h3 class="footer-heading mb-4">Contact Info</h3>
<ul class="list-unstyled">
<li class="phone">Address : Patna, Bihar </li>
<li class="phone">Phone : +91 9876543210</li>
<li class="email">Email : mshop@gmail.com</a></li>
</ul>
</div>
</div>
</div>
</b>
</div>

</body>
</html>