{% extends 'base.html' %}

{% block content %}

<div class="container-fluid my-4 px-0">


  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/static/img/11.jpg" width="1200" height ="600" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="font-weight:bold">
        <h2 style = "color:black">EFFECTIVE MEDICINE, NEW MEDICINE EVERYDAY</h2>
        <h1 style = "color:black"> Welcome To Ravi Pharma </h1>
      </div>
    </div>
</div>

{% endblock %}